/* ------ VARIABLES : BORDERS ------ */


$border-light--slate-gray: 1px solid $slate-gray;
$border-medium--slate-gray: 3px solid $slate-gray;
$border-large--slate-gray: 6px solid $slate-gray;

$border-light--ash-gray: 1px solid $ash-gray;
$border-medium--ash-gray: 3px solid $ash-gray;
$border-large--ash-gray: 6px solid $ash-gray;

$border-light--dark-blue: 1px solid $dark-blue;
$border-medium--dark-blue: 3px solid $dark-blue;
$border-large--dark-blue: 6px solid $dark-blue;

$border-light--pastel-red: 1px solid $pastel-red;
$border-medium--pastel-red: 3px solid $pastel-red;
$border-large--pastel-red: 6px solid $pastel-red;
