/* ------ PAGES : GENERAL ------ */


* {
  margin: 0;
}

body {
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
  // border-bottom: $border-medium--dark-blue;
  // padding-bottom: 0px;
  &:hover {
    background: $dark-blue;
  }
}

.accent-text {
  font-size: 1.6rem;
  font-family: $accent-font !important;
}
