/* ------ PAGES : HOME ------ */

#pages_home {

  .banner {
    background-image: linear-gradient(rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 50%),
    url(http://bit.ly/2Dj8zBb);
    background-size: cover;
    height: calc(100vh - 70px);
    width: 100vw;
  }
}

.parkings-messages {
  position:relative;
  text-align: center;
  h3 {
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  h6 {
    margin-top: 0px;
    text-align: center;
  }
}


#cta-new-parking {
  background: $ash-gray;
  padding: 40px;

  .parkings-messages h3 {
    color: white;
  }
}
