/* ------ PAGES : HOME ------ */

#pages_home {

  .banner {
    background-image: linear-gradient(rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%),
    url(http://bit.ly/2DkdWAm);
    background-size: cover;
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner-content {
    text-align: center;
    width: 60%;
    margin: auto;
  }

  form label {
    display: none;
  }
}

.parkings-messages {
  position:relative;
  text-align: center;
  h3 {
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  h6 {
    margin-top: 0px;
    text-align: center;
  }
}

.btn-cta {
  padding: 8px;
  font-size: 1.8rem;
}


#cta-new-parking {
  margin-top: 50px;
  background: $ash-gray;
  padding: 40px;

  .parkings-messages h3,
  .parkings-messages h6 .accent-header {
    color: white;
  }

  .btn-cta {
  padding: 12px;
  font-size: 2.4rem;
}


}
