/* ------ PAGES : SINGLE PARKING ------ */


.parking-title {
  text-align: center;
}

.parking-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parking-description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
}

.main-details {
  h6 {
    margin: 2px auto;
  }
}

.parking-image {
  img {
    // height: 400px;
    width: 100%;
  }
}


.parking-actions {
  margin-top: 12px;
}

#map-wrapper {
  flex: 0 0 60%;
}

#map-show {
  // width: 100%;
  height: 100vh;
  margin: auto;
}

#new_booking {
  font-size: 2rem;
}
