<h1>Your Bookings</h1>

<p><%= simple_form_for([@parking, @booking]) do |f| %>
<%= f.input :start_time, label: "Check In", as: :datepicker  %>
<%= f.input :finish_time, label: "Check Out", as: :datepicker%>

<%= f.submit class: 'btn btn-light full-width', value: "Book now" %>

<% end %></p>
