<p>This is a request to book <%= @booking.parking.description %>.</p>
<p>Request sender: <%= @booking.user.email %></p>
<p>Request receiver: <%= @booking.parking.user.email %></p>
<p>Request status: <%= @booking.status %></p>
