<% @parkings.each do |parking| %>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <%= link_to parking_path(parking), class: 'parking-image' do %>
      <div class="parking-card">
        <%= parking.description[0] %>
        <%= parking.address %>
        <%= parking.city %>
      </div>
    <% end %>
  </div>
<% end %>
