

<div class="container">

  <div class="row">

    <h1>this is a h1 title</h1>

    <h2>this is a h2 title</h2>

    <h3>this is the page title</h3>

    <h4>this is a h4 title</h4>

    <h5>this is a h5 title</h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus inventore veritatis quidem ipsa eum ducimus voluptate. Qui tempora earum, aliquid dicta minus odit ea doloremque, modi vel officia aut soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus inventore veritatis quidem ipsa eum ducimus voluptate. Qui tempora earum, aliquid dicta minus odit ea doloremque, modi vel officia aut soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

    <div class="accent-text"> this would be an accent text</div>
  </div>

</div>


