<div class="banner">
  <p>search a cool parking spot</p>
</div>

<div class="container">
  <div class="row">

    <h3>start exploring the spots</h3>

    <% @home_parkings.each do |parking| %>
      <div class="col-xs-12 col-md-6 col-lg-4 parking-card">
        <div class="card-header">
          <h6><%= parking.city %></h6>
          <p><%= parking.user.email %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="row">
    <h3>we will add something here</h3>
  </div>
</div>

