



<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md 8 col-offset-md-2">

      <h1></h1>

      <h1>Parking to rent</h1>

       <p><%= @parking.address %></p>
       <%= @parking.start_time %>
       <%= @parking.finish_time %>
       <%#= image_tag @parking.photo %>

    </div>

  </div>
</div>




