/* ------ COMPONENTS : FOOTER ------ */

#footer {
  margin-top: 50px;
  padding-bottom: 24px;
  text-align: center;

  p span{
    border-top: $border-light--slate-gray;
    border-bottom: $border-light--slate-gray;
    font-size: 1.2rem;
    padding: 6px;
  }

}
