/* ------ COMPONENTS : NEW PARKING CARD ------ */


#parkings_new {
  h3 {
  text-transform: uppercase;
  max-width: 70%;
  margin: auto;
  }
}

#new-parking-form {
  form {
    font-size: 1.6rem;
  }
}
