/* ------ COMPONENTS : PARKING CARD ------ */

.parking-card {
  background-size: cover;
  height: 520px;
  padding:15px;
  margin-bottom: 20px;
  position: relative;
}

.parking-header {
  position: absolute;
  top: 2%;
  left: 4%;
}

.parking-tags {
  background: $dark-gray;
  color: white;
  padding: 2px 4px;
  font-size: 1.2rem;
}

.parking-more {
  position:absolute;
  bottom: 0px;
  right: 0px;
  i {
    font-size: 4rem;
  }
}
.parking-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4%;
  background: white;
  h6 {
    text-transform: uppercase;
    font-size: 2rem;
  }
}
