/* ------ COMPONENTS : PARKING CARD ------ */

.parking-card {
  background: linear-gradient(rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 50%),url(http://bit.ly/2Dis4dl);
  background-size: contain;
  height: 320px;
  padding:15px;
}
